.articleRow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  text-align: justify;
  border-top: 3px solid var(--cbc-pink);
  padding: 2rem 0.5rem;
  border-bottom: 3px solid var(--cbc-pink);
  height: fit-content;
}

.article p {
  margin: 1.5rem 0rem;
}

.articleImage {
  position: relative;
  width: 100vw;
  height: 30rem;
  align-items: flex-start;
}

/* Tablet Smaller Desktop */
@media (min-width: 701px) {
  .articleRow {
    flex-direction: row;
  }

  .article {
    flex: 0 1 50%;
    height: fit-content;
  }

  .articleImage {
    flex: 0 0 50%;
    position: relative;
  }

  .imageLeft {
    order: 1;
    margin-left: -3.5rem;
  }

  .imageRight {
    order: 2;
    margin-right: -3.5rem;
  }

  .articleLeft {
    order: 1;
    margin-right: 6rem;
  }
  
  .articleRight {
    order: 2;
    margin-left: 6rem;
  }
  
}
