.quoteBox {
  height: 26.25rem;
  width: 25.5rem;
  background-color: var(--cbc-pale-blue);
  margin: 1rem 1rem 1rem 0rem;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding: 3rem;
}

.quoteImage {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  flex: 0 0 auto;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.author {
  flex: 0 0 auto;
  margin-top: 1.5rem;
}
