:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --cbc-pink: #ff5a93;
  --cbc-pale-pink: #f8d3df;

  --cbc-blue: #00bce3;
  --cbc-pale-grey: #ececec;
  --max-width: 100rem;
  --padding-right: 5rem;
  --padding-left: 5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }

  html {
    color-scheme: dark;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

/* Tablet Smaller Desktop */
@media (min-width: 701px) {
  h1 {
    font-size: 4rem;
  }
}
