.header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
}

.title {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  flex-grow: 1;
}

.active {
  text-decoration: underline;
}

.burgerMenuButton {
  background-color: transparent;
  border: none;
  display: block;
  position: relative;
  flex-grow: 0;
  margin: 2px;
  height: 2rem;
  width: 2rem;
}

/* GENERIC NAV STYLES */

.navLink {
  text-decoration: none;
  color: var(--foreground-rgb);
  font-size: 1.5rem;
  margin-left: 0.75rem;
}

.navLink:hover {
  text-decoration: underline;
  text-underline-offset: 0.75rem;
  color: var(--foreground-rgb);
  font-size: 1.5rem;
  margin-left: 0.75rem;
}

.navLink:active {
  text-decoration: underline;
  text-underline-offset: 0.75rem;
  color: var(--foreground-rgb);
  font-size: 1.5rem;
  margin-left: 0.75rem;
}

/* Mobile */
@media (max-width: 700px) {
  .topNav {
    display: none;
  }
}

/* Tablet Smaller Desktop */
@media (min-width: 701px) {
  .burgerMenuButton {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 0;
  }

  .title {
    text-align: left;
  }

  .topNav {
    flex-grow: 1;
    order: 1;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: right;
  }

  .headerMobile {
    display: none;
  }
}
