.footer {
  height: 24rem;
  background-color: var(--cbc-pink);
}

.footerLogo {
  width: 100%;
  height: 50%;
  position: relative;
  margin-top: 1rem;
}

.socialLinks {
  display: flex;
  flex-direction: row;
}

/* Mobile */
@media (max-width: 700px) {
  .footer {
    display: flex;
    flex-direction: column;
  }

  .footerQuote {
    display: none;
  }

  .footerLogo {
    order: 1;
  }

  .footerNav {
    margin-left: auto;
    margin-right: auto;
    order: 2;
  }

  .footerSignUp {
    display: none;
  }

  .footerLinks {
    display: none;
  }
}

/* Tablet Smaller Desktop */
@media (min-width: 701px) {
  .footer {
    display: flex;
    flex-direction: row;
  }

  .footerNav {
    flex: 1 1 33%;
    display: flex;
    flex-direction: column;
  }

  .footerLogo {
    flex: 1 1 33%;
  }

  .footerSignUp {
    flex: 1 1 33%;
  }
}
