.footer {
  height: 12rem;
  background-color: var(--cbc-pink);
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet Smaller Desktop */
@media (min-width: 701px) {
  .footer {
    position: sticky;
    bottom: 0;
  }
}
