.title {
  flex-grow: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.navLink {
  text-decoration: none;
  color: var(--foreground-rgb);
  font-size: 1.5rem;
  margin-left: 0.75rem;
}

.navLink:hover {
  text-decoration: underline;
  text-underline-offset: 0.75rem;
  color: var(--foreground-rgb);
  font-size: 1.5rem;
  margin-left: 0.75rem;
}

.active {
  text-decoration: underline;
}

.burgerMenuButton {
  display: block;
}

.topNav {
  order: 1;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Mobile */
@media (max-width: 700px) {
  .headerDesktop {
    display: none;
  }

  .headerMobile {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
  }
}

/* Tablet Smaller Desktop */
@media (min-width: 701px) {
  .headerDesktop {
    display: flex;
    flex-direction: row;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    top: 0;
  }

  .headerMobile {
    display: none;
  }
}
