.header {
  border-bottom: 3px solid var(--cbc-pink);
  position: sticky;
  top: 0;
  display: flex; /* or inline-flex */
  flex-direction: row;
}

.title {
  flex-grow: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.navLink {
  text-decoration: none;
  color: var(--foreground-rgb);
  font-size: 1.5rem;
  margin-left: 0.75rem;
}

.navLink:hover {
  text-decoration: underline;
  text-underline-offset: 0.75rem;
  color: var(--foreground-rgb);
  font-size: 1.5rem;
  margin-left: 0.75rem;
}

.active {
  text-decoration: underline;
}

/* Mobile */
@media (max-width: 700px) {
  .header {
    height: 4rem;
  }

  .burgerMenuButton {
    display: block;
    order: 0;
  }

  .title {
    order: 1;
    flex-grow: 1;
    text-align: center;
  }

  .topNav {
    height: 100%;
    display: none;
  }
}

/* Tablet Smaller Desktop */
@media (min-width: 701px) {
  .header {
    height: 5rem;
  }

  .burgerMenuButton {
    display: none;
  }

  .title {
    order: 0;
    margin-left: 5rem;
  }

  .topNav {
    order: 1;
    margin-right: 5rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}
