.footer {
  height: 18.75rem;
  background-color: var(--cbc-pink);
}

.footerColumn {
  flex: 1 1 33%;
  display: flex;
  flex-direction: column;
}

.rightColumn {
  align-items: flex-end;
}

.title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.footerLinks {
  display: flex;
  flex-direction: row;
}

.socialLinks {
  flex: 1 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10rem;
}

.socialLink {
  flex: 1;
}

.footerQuote {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  margin-right: 0.75rem;
}

.navLink:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.active {
  text-decoration: underline;
}

/* Mobile */
@media (max-width: 700px) {
  .footerMobile {
    display: flex;
    flex-direction: column;
  }

  .footerDesktop {
    display: none;
  }

  .footerLogo {
    width: 100%;
    height: 50%;
    position: relative;
    margin-top: 1rem;
  }
}

/* Tablet Smaller Desktop */
@media (min-width: 701px) {
  .footerMobile {
    display: none;
  }

  .footerDesktop {
    display: flex;
    flex-direction: row;
    height: 100%;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
  }

  .footerLogo {
    width: 100%;
    height: 75%;
    position: relative;
    margin-top: 2rem;
  }
}
